# this is specific to the CSC134 repo, and should be 
# used to ignore the obvious things

# Powerpoints and word documents (since I only use open documents)
*.ppt
*.doc
*.docx


# My instructor gives a bunch of extra things I don't need in
# his homeworks, which I throw in a folder called "fred's shit".
# This should hide those folders.
*fred\'s\ shit*

# also ignore compiled output, including pdfs
*.o
*.pdf

# ignore zips
*.zip
